<% @showsidebar = true %>

<% content_for :sidebar_switch do @showsidebar = true end %>

<% content_for :sidebar do %>

 <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
          
 	<div class="panel panel-default">

        <div class="panel-heading">
          <h3 class="panel-title">Project visibility</h3>
        </div>

        <div class="panel-body">


			<% current_user.topprojects.each do |p| %>

			        <ul class="nav nav-pills nav-stacked">

			        	<%= render 'layouts/projecttree', :highlight => [@project], :p => p, :project_id => @project.id, :category => "molecules", :level => 0 %>


					</ul>

			<% end %>


            
          </div>
        </div>
    </div>
</div>
  
<% end %>


<h1>New molecule in <%= @project.title %></h1>


<%= render 'form' %>


