
    <div class="modal-header">
      <h3>Select compound</h3>
    </div>
    <div class="modal-body">

		<%= render 'molecules/pickketcher', :layout => false %>

		<script type="text/javascript">

		function updatemolecule (data) {

			resultmolecule = data;

		}

		</script>

    </div>
    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">Cancel</a>
      <a href="#" class="btn btn-primary" onclick="getdetails(true); ">Select</a>
    </div>

