<div class = "navbar navbar-fixed-bottom navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<span class="navbar-form navbar-left">

				<span class="form-group" id="checkedinsamples">
		      		<%= render 'devices/samplelocations', :layout => false %>

		      	</span>
  			</span>

			<span class="navbar-form navbar-right">

	  			<span class="form-group">
	    			<a href="#">
	    			<span id="connstatus" class="label label-default">Connection Status</span></a>
	  			</span>
	  		</span>
		</div>
	</div>
</div>