<div class = "navbar navbar-fixed-bottom navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<ul class ="nav" id="checkedinsamples">
		      		<%= render 'devices/samplelocations', :layout => false %>
  			</ul>

			<div class="navbar-form navbar-right">

	  			<div class="form-group">
	    			<a href="#">
	    			<span id="connstatus" class="label">Connection Status</span></a>
	  			</div>
	  		</div>
		</div>
	</div>
</div>