<h1><%= @device.name %> <small>(<%= @device.devicetype.name %>)</small></h1>

   <!-- <div class="tabbable">

    <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Control</a></li>
    <li><a href="#tab2" data-toggle="tab">Details</a></li>
    </ul>

    <div class="tab-content">
    <div class="tab-pane active" id="tab1">-->
    

<%= render 'layouts/' + @device.devicetype.name %>

<br/>
<br/>
<div id="actionpane" class="well" style="display: none;">
</div>

<% @showsidebar = true %>

<% content_for :sidebar_switch do @showsidebar = true end %>

<% content_for :sidebar do %>

 <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
          <div class="well">
            <%= render 'layouts/sidebar' %>
          </div>
        </div>
  
<% end %>

<%  @showfooter = true %>

<% if (current_user != nil) then @showtasks = true end %>
