<div class="container">


<%= form_for(resource, :as => resource_name, :url => unlock_path(resource_name), html: {:class => "form-signin", :style => "max-width:400px; margin-left:auto; margin-right: auto;", :method => :post}) do |f| %>

  <h2 class="form-signin-heading">RResend unlock instructions</h2>

  <div class="form-inputs">
    <%= f.text_field :email, :required => true, :autofocus => true, :class => "form-control", :placeholder => "Email address" %>
   
  </div>

  <div class="form-actions">
    <%= f.submit "Resend unlock instructions", :class =>"btn btn-lg btn-primary btn-block" %>
  </div>

  <br/>


<% end %>


</div>
