<h2>About this Project</h2>
<p>Article in "Laborpraxis" (german): <a href="http://www.laborpraxis.vogel.de/software/lims/articles/423912/" target="_blank">Digitales Syntheselabor für jedermann dank Open Source</a></p>
<br/>

<h2>Project Details</h2>
<p>Main Portal: <a href="https://github.com/Cominch/dial-a-device">https://github.com/Cominch/dial-a-device</a></p>
<p>Device Control: <a href="https://github.com/Cominch/dial-a-device-node">https://github.com/Cominch/dial-a-device-node</a></p>
<p>Beaglebone Connector: <a href="https://github.com/Cominch/dial-a-device-bb">https://github.com/Cominch/dial-a-device-bb</a></p>
<br/>
<p>Compound Database: <a href="https://github.com/Cominch/chemdb">https://github.com/Cominch/chemdb</a></p>
<p>ChemRails Package (gem): <a href="https://github.com/Cominch/chemrails">https://github.com/Cominch/chemrails</a></p>
<br/>
<h2>Contributors</h2>
<p>Dominic L&uuml;tjohann<br/>
Maxim Lapis<br/>
Thomas Klemm<br/>
Sahil Ratra<br/>
Sahil Bansal<br/>
Sumit Bhanwala
</p>
<br/>
<h2>Imprint</h2>
<p>Dominic L&uuml;tjohann<br/>M&ouml;rikestr. 39<br/>73266 Bissingen an der Teck</p>

<br>
<a href="file://webdav.dial-a-device.com/davwwwroot/">WebDAV</a>