<h1>Initialize your BeagleBone</h1>
<p>Before you can connect your lab device, you have to install dial-a-device-node on your BeagleBone. Just follow these steps:</p>
<br/>

<h2>Get a BeagleBone</h2>
<p>Buy a BeagleBone: <a href="http://www.amazon.de/gp/product/B00CO3MZCW/ref=cm_cd_asin_lnk" target="_blank">Amazon</a></p>

<br/>
<h2>Check if drivers are installed</h2>
<p><a href="http://beagleboard.org/static/Drivers/Windows/BONE_DRV.exe">Windows 32bit</a><br/>
<a href="http://beagleboard.org/static/Drivers/Windows/BONE_D64.exe">Windows 64bit</a><br/>
<a href="http://beagleboard.org/static/Drivers/MacOSX/RNDIS/HoRNDIS-rel4.pkg">Mac OS X</a><br/>
Linux: No drivers required</p>

<br/>
<h2>Register your BeagleBone for dial-a-device</h2>
<p>Now you're ready to connect your lab device!</p>
<p><a class="btn btn-primary" href="/beaglebones/new">Register Beaglebone &raquo;</a></p>

<br/>