<h1>Import</h1>

<%= form_tag({:action => 'importzip'}, :multipart => true) do %>

<p><label for="upload_file">Select File</label>: 
<%= file_field "upload", "file" %></p>
<%= submit_tag "Upload" %>

<% end %>