<h1>WebDAV Instructions</h1>

<p>You can open and edit your datasets on your local computer via WebDAV folders.</p>
<br>

<h3>Windows Operating System</h3>
<p>Disable SSL requirement in Registry</p>
<h4>Mount network drive</h4>
<p>Mount</p>
<br>

<h4>Open Datasets with browser-link</h4>
<p>Enable Trusted Zone</p>

<br>
<br>
<h3>Linux Operating System</h3>
<h4>Mount network drive</h4>
<p>Mount</p>

<br>

<h4>Open in File Browser</h4>
<p>Connect to Server</p>
