<div class="jumbotron">
    <div class="container">
        <h1>Life Science Informatics</h1>
        <p>Prototype Rails Application for Bioinformatics, Cheminformatics, Lab Automation and High Throughput Screening</p>

        <p>Customize and Deploy on Heroku+Amazon S3 or on your local ubuntu server</p>
        
        
        <p><a class="btn btn-default btn-lg" href="/about">About &raquo;</a></p>

    </div>
</div>