
<ul class="nav nav-pills nav-stacked">

<% if @currentitem == "devices" then %><li class="active"><% else %><li><% end %><a href="/devices">Devices</a></li>
<% if @currentitem == "beaglebones" then %><li class="active"><% else %><li><% end %><a href="/beaglebones">BeagleBones</a></li>
<% if @currentitem == "folder_watchers" then %><li class="active"><% else %><li><% end %><a href="/folder_watchers">Folder Watchers</a></li>
<% if @currentitem == "vncrelays" then %><li class="active"><% else %><li><% end %><a href="/vncrelays">VNC Relays</a></li>

<% if @currentitem == "measurements" then %><li class="active"><% else %><li><% end %><a href="/measurements">Measurements</a></li>

</ul>