
<ul class="nav nav-pills nav-stacked">

<% if @currentitem == "molecules" then %><li class="active"><% else %><li><% end %><a href="/molecules">Molecules</a></li>
<% if @currentitem == "reactions" then %><li class="active"><% else %><li><% end %><a href="/reactions">Reactions</a></li>
</ul>