<% database_id = @project.superparent.id %>


<% if !current_user.nil? then %>
      <div class="panel panel-default">

        <div class="panel-heading">
          <h3 class="panel-title">Projects (<%= category %>)</h3>
        </div>

        <div class="panel-body">

          <% p = @project.superparent %>

          <% if current_user.projects.include?(p) then %>

                  <ul class="nav nav-pills nav-stacked">

                  	<%= render 'layouts/projecttree', :highlight => [], :p => p, :project_id => project_id, :category => category, :level => 0 %>


          		    </ul>

            <% else %>

              <% p.children.each do |cp| %>


                <ul class="nav nav-pills nav-stacked">

                      <%= render 'layouts/projecttree', :highlight => [], :p => cp, :project_id => project_id, :category => category, :level => 0 %>


                </ul>

              <% end %>

            <% end %>

          <br>

        </div>

      </div>

<% end %>
